@using Sklepix.Models.ViewModels
@model TaskIndexVm
@{
    ViewData["Title"] = "Tasks";
}

<br />

<table class="table align-middle">
    <thead>
        <tr>
            <th scope="col" style="width: 4px;">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Deadline</th>
            <th scope="col">Priority</th>
            <th scope="col">Status</th>
            <th scope="col" style="width: 25%;">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(TaskVm task in Model.Tasks)
        {
            <tr>
                <td scope="row">
                    <a asp-action="Details" asp-route-id="@task.Id" class="text-reset text-decoration-none">@task.Id</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@task.Id" class="text-reset text-decoration-none"><b>@task.Name</b></a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@task.Id" class="text-reset text-decoration-none"><b style="color: @task.DeadlineColor">@task.Deadline</b></a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@task.Id" class="text-reset text-decoration-none"><b>@task.Priority</b></a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@task.Id" class="text-reset text-decoration-none"><b>@task.StatusString</b></a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@task.Id" class="btn btn-success btn-sm">
                        <span>Details</span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>