@using Sklepix.Models.ViewModels
@model CategoryIndexVm
@{
    ViewData["Title"] = "Categories";
}

<a asp-action="Create" class="btn btn-success float-end">
    <span>Add category</span>
</a>

<table class="table align-middle">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(CategoryVm c in Model.Categories)
        {
            <tr>
                <td scope="row">
                    <a asp-action="Details" asp-route-id="@c.Id" class="text-reset text-decoration-none">@c.Id</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@c.Id" class="text-reset text-decoration-none">@c.Name</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@c.Id" class="btn btn-success">
                        <span>Details</span>
                    </a>
                    <a asp-action="Edit" asp-route-id="@c.Id" class="btn btn-info">
                        <span>Edit</span>
                    </a>
                    <a asp-action="Delete" asp-route-id="@c.Id" class="btn btn-danger">
                        <span>Delete</span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>