@using Sklepix.Data.Entities
@using Sklepix.Models.ViewModels
@model AisleVm
@{
    ViewData["Title"] = "Aisle details";
    string[] split = Model.Rows.Split(";");
    string[] rows = new string[split.Length - 1];
    for(int i = 1; i < split.Length; i++)
    {
        rows[i - 1] = split[i];
    }
}

<button onclick="window.location.href='@Url.Action("Index", "Aisles")'" type="button" class="btn btn-success float-end">
    <span>Go back</span>
</button>

<h3>@Model.Name</h3>
<hr/>

@if(Model.Description == null)
{
    <span class="form-control text-danger">No description found</span>
} else {
    <span class="form-control">@Model.Description</span>
}

<hr />

<button onclick="window.location.href='@Url.Action("CreateRow", "Aisles")/@Model.Id'" type="button" class="btn btn-success float-end">
    <span>Add new row</span>
</button>

<table class="table">
    <thead>
        <tr>
            <th scope="row">Row number</th>
            <th scope="row">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(string row in rows) 
        {
            <tr>
                <td>@row</td>
            </tr>
        }
    </tbody>
</table>
