@using Sklepix.Data.Entities
@using Sklepix.Models.ViewModels
@model AisleVm
@{
    ViewData["Title"] = "Aisle details";
}

<a asp-action="Index" class="btn btn-success float-end">
    <span>Go back</span>
</a>

<h3>@Model.Name</h3>
<hr/>

@if(Model.Description == null)
{
    <span class="form-control text-danger">No description found</span>
} else {
    <span class="form-control">@Model.Description</span>
}

<hr />

<a asp-action="CreateRow" asp-route-id="@Model.Id" class="btn btn-success float-end">
    <span>Create new row</span>
</a>

<table class="table align-middle">
    <thead>
        <tr>
            <th scope="row">Row number</th>
            <th scope="row">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(AisleRowEntity row in Model.Rows) 
        {
            <tr>
                <td>@row.RowNumber</td>
                <td>
                    <a asp-action="DeleteRow" asp-route-id="@Model.Id" asp-route-secondId="@row.RowNumber" class="btn btn-danger">
                        <span>Delete</span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
