@using Sklepix.Data.Entities
@using Sklepix.Models.ViewModels
@model AisleVm
@{
    ViewData["Title"] = "Aisle details";
}

<button onclick="window.location.href='@Url.Action("Index", "Aisles")'" type="button" class="btn btn-success float-end">
    <span>Go back</span>
</button>

<h3>@Model.Name</h3>
<hr/>

@if(Model.Description == null)
{
    <span class="form-control text-danger">No description found</span>
} else {
    <span class="form-control">@Model.Description</span>
}

<hr />

<button onclick="window.location.href='@Url.Action("CreateRow", "Aisles")/@Model.Id'" type="button" class="btn btn-success float-end">
    <span>Add new row</span>
</button>

<table class="table align-middle">
    <thead>
        <tr>
            <th scope="row">Row number</th>
            <th scope="row">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(AisleRowEntity row in Model.Rows) 
        {
            <tr>
                <td>@row.RowNumber</td>
                <td>
                    <button onclick="window.location.href='@Url.Action("DeleteRow", "Aisles")/@Model.Id/@row.RowNumber'" type="button" class="btn btn-danger">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
