@using Sklepix.Data.DataTransfers
@model ProductDto
@{
    ViewData["Title"] = "Create product";
    string name = "";
    string description = "";
    int count = 0;
    double price = 0.00;
    if(Model != null)
    {
        name = (Model.Name == null) ? "" : Model.Name;
        description = (Model.Description == null) ? "" : Model.Description;
        count = Model.Count;
        price = Model.Price;
    }
}

<button onclick="window.location.href='@Url.Action("Index", "Products")'" type="button" class="btn btn-success float-end">
    <span>Go back</span>
</button>

<form asp-action="Create" style="width:50%;height:50%;margin-left:25%;">
    <h2>Create product</h2>
    <br />
    <div class="form-group">
        <label asp-for="Name">
            <span>Product name</span>
        </label>
        <input asp-for="Name" class="form-control" placeholder="Product name..." value="@name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Description">
            <span>Product description</span>
        </label>
        <textarea asp-for="Description" class="form-control" placeholder="Product description..." value="@description" ></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Count">
            <span>Count</span>
        </label>
        <input asp-for="Count" type="number" step="1" class="form-control" placeholder="Count..." value="@count" />
        <span asp-validation-for="Count" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price">
            <span>Price</span>
        </label>
        <input asp-for="Price" type="number" step="0.01" class="form-control" placeholder="Price..." value="@price" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <br />
    <input type="submit" class="form-control" value="Create product" />
</form>
