@using Sklepix.Models.ViewModels
@model ProductVm
@{
    ViewData["Title"] = "Product details";
}

<a asp-action="Index" class="btn btn-primary">
    <span>Go back</span>
</a>

<br />
<br />

<h3>@Model.Name</h3>
<hr/>

<br />

<span><b>Category: </b>
@if(Model.Category == null)
{
    <span class="text-danger">No category found</span>
} else {
    <span>@Model.Category</span>
}
</span>

<br />

<span><b>Aisle: </b>
@if(Model.Aisle == null)
{
    <span class="text-danger">No aisle found</span>
} else {
    <span>@Model.Aisle</span>
}
</span>

<br />
<span><b>Aisle row: </b>
@if(Model.Row == -1)
{
    <span class="text-danger">No row found</span>
} else {
    <span>@Model.Row</span>
}
</span>

<br />
<br />

@if(Model.Description == null)
{
    <span class="form-control text-danger">No description found</span>
} else {
    <span class="form-control">@Model.Description</span>
}