@using Sklepix.Models.ViewModels
@model ProductIndexVm
@{
    ViewData["Title"] = "Products";
}

<a asp-action="Create" class="btn btn-secondary float-end">
    <span>Add product</span>
</a>

<table class="table align-middle">
    <thead>
        <tr>
            <th scope="col" style="width: 4px;">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Count</th>
            <th scope="col">Buy price</th>
            <th scope="col">Margin</th>
            <th scope="col">Price with margin</th>
            <th scope="col">Potential income</th>
            <th scope="col">Potential income (without margin)</th>
            <th scope="col" style="width: 25%;">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(ProductVm c in Model.Products)
        {
            <tr>
                <td scope="row">
                    <a asp-action="Details" asp-route-id="@c.Id" class="text-reset text-decoration-none">@c.Id</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@c.Id" class="text-reset text-decoration-none"><b>@c.Name</b></a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@c.Id" class="text-reset text-decoration-none">@c.Count</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@c.Id" class="text-reset text-decoration-none">@c.Price</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@c.Id" class="text-reset text-decoration-none">@c.Margin 
                        <span class="text-muted">(@c.MarginPercent%)</span></a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@c.Id" class="text-reset text-decoration-none">@c.PriceWithMargin</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@c.Id" class="text-reset text-decoration-none">@c.PotentialIncome</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@c.Id" class="text-reset text-decoration-none">@c.PotentialIncomeWithoutMargin</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@c.Id" class="btn btn-success btn-sm">
                        <span>Details</span>
                    </a>
                    <a asp-action="Edit" asp-route-id="@c.Id" class="btn btn-info btn-sm">
                        <span>Edit</span>
                    </a>
                    <a asp-action="Delete" asp-route-id="@c.Id" class="btn btn-danger btn-sm">
                        <span>Delete</span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>